#headerNav {

    background-color: #ff8b94;
    color: #dcedc1;
}

h1 {
    color: yellow;
    text-align: center;
    margin-top: 30%;


}

body {

    margin: 4%;
    background-color: #0088;



    font-family: 'Bubbler One', sans-serif;



}

.break {

    height: 3px;
    background-color: #ffff00;
    margin-bottom: 100px;
}

html {
    font-size: 2.5em;
}







.contentBG {

    margin-top: 210px;
    /* Set a specific height */

    z-index: 2;
    height: 1500px;
}

#contentFG {
    padding-top: 150px;



}

#content {

    background-color: #ff8b94;

}


.churchContent h2 {
    color: #182F41;
    font-family: 'Cinzel', serif;
    font-size: 5em;
    font-weight: bolder;
    text-align: center;

    margin-top: 45px
}


.churchContent p {
    padding: 4%;
    font-size: 4em;

}

#oldDrawing {
    border-radius: 4%;
    width: 90%;
    margin-top: 15%;
    border-color: #654321;
    border-width: 5px;
    border-style: solid;
    margin-left: 5%;

}

#oldBook {

    margin-top: 15%;
    margin-left: 5%;

}

.common {
    margin: auto;
    text-align: center;
    color: #a8e6cf;


}
