#headerNav {

    background-color: #ff8b94;
    color: #dcedc1;
}

h1 {
    color: purple;
}

body {

    margin: 0px;



    font-size: 25px;
    font-family: 'Bubbler One', sans-serif;



}

#home {
    background: url("../imgz/veryLGUnicorn.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}


path {
    fill: transparent;
}

text {
    fill: purple;
    font-kerning: normal;

}

.churchContent {

    background-color: #D2C6BB;
}

#rainbowBreak {

    width: 100%;
    height: 150px;


    z-index: 3;
}

#content {

    background-color: #a8e6cf;
}

.churchH1 {

    font-family: 'Cinzel', serif;
    font-size: 105px;
    font-weight: bolder;
    color: #182F41;
    margin-right: 5%;
    margin-left: 50%;
    padding-top: 250px;
    text-align: right;
    font-kerning: auto;


}

.contentBG {
    background-color: #a8e6cf;
    margin-top: -110px;
    /* Set a specific height */

    z-index: 2;
    height: 200%;

}

#contentFG {}

.common {
    margin: auto;
    text-align: center;
    color: purple;


}

#oilPainting {

    background: url("../imgz/unicornOilPainting1400.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 900px;
    margin-top: -20px;
}

#list {
    margin-left: 20%;
    margin-right: 20%;
    color: magenta;
    font-kerning: normal;
    font-size: 1.2em;

}

#browser {
    text-align: center;
    color: purple;
    padding-top: 200px;
}

#dl {
    text-align: center;
    padding-bottom: 5%;
}
