#headerNav {

    background-color: #ff8b94;
    color: #dcedc1;
}

h1 {
    color: yellow;
    text-align: center;
    margin-top: 30%;


}

body {

    margin: 4%;
    background-color: #af94e1;



    font-family: 'Bubbler One', sans-serif;



}

p {
    font-size: 5em;
}

.break {

    height: 3px;
    background-color: #ffff00;
    margin-bottom: 100px;
}

html {
    font-size: 3.5em;
}

#list {

    color: yellow;
}




.contentBG {

    margin-top: 210px;
    /* Set a specific height */

    z-index: 2;
    height: 1500px;
}

#contentFG {
    padding-top: 150px;



}

#content {

    background-color: #ff8b94;

}


.churchContent h2 {
    color: #182F41;
    font-family: 'Cinzel', serif;
    font-size: 5em;
    font-weight: bolder;
    text-align: center;

    margin-top: 45px
}


.churchContent p {
    padding: 4%;
    /*   font-size: 4em;*/

}

#oldDrawing {
    border-radius: 4%;
    width: 90%;
    margin-top: 15%;
    border-color: #654321;
    border-width: 5px;
    border-style: solid;
    margin-left: 5%;

}

#oldBook {

    margin-top: 15%;
    margin-left: 5%;

}

.common {
    margin: auto;
    text-align: center;
    color: #a8e6cf;


}

#map {
    height: 22rem;


}


button {
    font-size: 130%;
    padding: 20px;
    margin: 10px;
    color: #fdfd96;
    background-color: #779ecb;
    border-radius: 10px;
}

#upload {

    border-color: #fdfd96;
    border-style: solid;
    border-radius: 30px;
    padding: 30px;
}

/*gallery sh*t */


#galleryContainer {


    margin: auto;
    margin-right: 0px;



    overflow-y: scroll;


}

#galleryContainer img {

    float: left;
    margin: 25px 0 0 25px;

}

#missionPreface {


    color: #fdfd96;
    font-size: 1.5em;
}
