h1 {
    color: purple;
}

body {

    margin: 0px;



    font-size: 25px;
    font-family: 'Bubbler One',
        sans-serif;

}

#home {
    background: url("../imgz/veryLGUnicorn.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}


path {
    fill: transparent;
}

text {
    fill: purple;
    font-kerning: normal;

}

.churchContent {

    background-color: #D2C6BB;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border-top: 15px;
    border-top-style: solid;
    border-color: #ffffff;
}

#rainbowBreak {

    width: 100%;
    height: 150px;


    z-index: 3;
}

#content {

    background-color: #a8e6cf;

}

.churchH1 {

    font-family: 'Cinzel', serif;
    font-size: 105px;
    font-weight: bolder;
    color: #182F41;
    padding-right: 8%;
    text-align: right;
    margin-left: 45%;

    padding-top: 250px;




}

.contentBG {
    background-color: #a8e6cf;
    margin-top: -110px;
    /* Set a specific height */

    z-index: 2;
    height: 200%;

}

#contentFG {
    padding-top: 200px;
}

.common {
    margin: auto;
    text-align: center;
    color: purple;


}

#oilPainting {

    background: url("../imgz/unicornOilPainting1400.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 900px;
    margin-top: -20px;
}

#list {
    margin-left: 20%;
    margin-right: 20%;
    color: magenta;
    font-kerning: normal;
    font-size: 1.2em;

}

#browser {
    text-align: center;
    color: purple;
    padding-top: 200px;
}

.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

#dl {
    text-align: center;
    padding-bottom: 5%;
}


.churchContent p {
    color: #182F41;
    font-size: 2em;
    font-family: 'Cinzel', serif;

    margin-left: 20%;
    margin-top: 35px;
}

.churchContent h2 {
    color: #182F41;
    font-family: 'Cinzel', serif;
    font-size: 3em;
    font-weight: bolder;
    text-align: center;

    margin-top: 45px
}



#oldDrawing {
    border-radius: 4%;

    margin-top: 25%;
    border-color: #654321;
    border-width: 5px;
    border-style: solid;
    margin-left: 20%;

}

.terms {

    font-size: 0.3em;
    vertical-align: super;
    line-height: 0;
}

.donate {
    padding-top: 50%;
}
